  <div class="grid gs">
    <div class="row">
      {{#each tour}}
      <article class="column p-4 t-6 m-12">
        <div class="container-product container-product__tour">
          <a href="/tour/{{this.slug}}">
            <div href="#" class="container-product-bg">
              <figure class="container-product-bg__img" style="background: url({{this.image}}) top/cover no-repeat;">
              </figure>
              <a href="" class="container-product-bg__info">
                {{this.name}}
              </a>
            </div>
          </a>
          <div class="container-product-content">
            <span class="container-product-content__price">
              $ {{this.price}} <span> for the trip</span>
            </span>
            <div class="container-product-content__star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="container-product-content__info">{{this.description}}</p>
            <a href="/tour/{{this.slug}}" class="container-product-content__suggest">
              READ MORE
              <i class="fa-solid fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </article>
      {{/each}}
    </div>
  </div>