<div class="grid gs">
  <div class="mainscreen">
    <div class="card">
      <div class="leftside">
        <img src="{{handleError course.image tour.image}}" class="product" alt="Shoes" />
      </div>
      <div class="rightside">
        <h3 class="title-tour">{{tour.name}}</h3>
        <div class="price-tour">
          <span class="price-total">${{handlePrice (handleError tour.price course.price)}}</span>
        </div>
        <div class="tour-quantity">
          <span class="text-quantity">Quantity</span>
          <div class="btn-quantity">
            <input class="number-quantity" name="quantity" type="text" value="1" readonly>
            <button class="btn-quantity__count">+</button>
            <button class="btn-quantity__count">-</button>
          </div>
        </div>
        <button data-id="{{handleError course._id tour._id}}" data-title="{{handleProduct tour course}}" class="btn btn-primary btn-checkout">Checkout</button>
      </div>
    </div>
  </div>
</div>